<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Inventory Home</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/items">Items</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/users/} + ${user.id} + @{/items}">My Items</a>
        </li>
    </ul>
</nav>

<div sec:authorize="isAnonymous()">
    <h1>Welcome!</h1>
</div>

<div sec:authorize="isAuthenticated()">
    <h1 th:text="'Welcome, ' + ${user.username} + '!'"></h1>
</div>

<div sec:authorize="isAnonymous()">
    <p>Click <a th:href="@{/login}">here</a> to login.</p>
    <p>Click <a th:href="@{/register}">here</a> to register.</p>
</div>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out"/>
    </form>
    <p>Click <a th:href="@{/items}">here</a> to see items.</p>
    <p>Click <a th:href="@{/logs}">here</a> to see logs.</p>
</div>
</body>
</html>
