<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Items</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/add">Add item</a></li>
    </ul>
</nav>
<table>
    <tr>
        <th></th>
        <th>Item code</th>
        <th>Item type</th>
        <th>Belongs to</th>
        <th></th>
    </tr>
    <tr th:each="item : ${items}">
        <td>
            <form th:action="@{/items/} + ${item.id}" th:method="delete">
                <input name="delete" type="submit" value="Delete"/>
            </form>
        </td>
        <td th:text="${item.inventoryCode}">Item code</td>
        <td th:text="${item.type}">Item type</td>
        <td th:text="${item.user}">Belongs to</td>
        <td>
            <form th:action="@{/items/{id}(id=${item.id})}" th:method="put">
                <select th:field="*{assignForm.username}">
                    <option th:each="username : ${usernames}"
                            th:text="${username}"
                            th:value="${username}">
                    </option>
                </select>
                <button type="submit">Assign</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>