<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>User Registration</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<form method="post" th:action="@{/register}" th:object="${user}">
    <table>
        <tr>
            <td>User Name:</td>
            <td><input th:field="*{username}" type="text"/></td>
            <td th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username Error</td>
            <td th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input th:field="*{password}" type="password"/></td>
            <td th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" type="text"/></td>
            <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{lastName}" type="text"/></td>
            <td th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Last Name Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
